:root {
  --active: rgb(255, 255, 255);
  --idle: rgb(127, 127, 127);
  --red: 10;
  --blue: 40;
  --green: 30;
  --color: rgb(108, 140, 174);
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: scroll;
}

.inputAndSearch {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 2vh;
}

input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ffffff;
  outline: 0;
  font-size: 2vh;
  padding: 7px 0;
  color: white;
  background: transparent;
  transition: border-color 1s;
}

input:hover {
  padding-bottom: 6px;
  border-width: 2px;
  border-color: var(--active);
  color: var(--active);
  border-image-slice: 1;
}

input:focus {
  padding-bottom: 6px;
  border-width: 2px;
  border-color: var(--active);
  color: var(--active);
  border-image-slice: 1;
}

.gradient {
  background-image: linear-gradient(to bottom,
      hsl(0, 0%, 34%),
      hsl(0, 0%, 21%));
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.gradient::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to top, rgb(var(--red), var(--green), var(--blue)), var(--color));
  z-index: -1;
  transition: opacity 2s linear;
  opacity: 0;
}

.gradient.active::before {
  opacity: 1;
}

.hidden {
  display: none;
}

.searchResult {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5vh;
  width: 50%;
  color: var(--active);
  padding: 10px;
  margin: 1vh;
  background: transparent;
  transition: border-color 1s;
  cursor: pointer;
  outline: solid var(--idle) 1px;
}

.searchResult:hover {
  outline: solid var(--active) 2px;
}

button {
  border: none;
  outline: solid white 1px;
  width: auto;
  margin: 2vw;
  padding: 1vh;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

button:hover {
  outline: solid var(--active) 2px;
}

.temperatureDisplay {
  font-size: 15vh;
  color: white;
  transition: all 1s ease;
  text-shadow: 0vh 2vh 0 rgba(0, 0, 0, 0.037);
}

.temperatureDisplay:hover {
  transform: rotate3d(2, 1, 0, 15deg);
  text-shadow: -1vh 3vh 5px rgba(0, 0, 0, 0.016);
}

.tempLabel {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
  margin: 1vh;
  text-align: center;
  font-size: 2vh;
}

.timeDisplay {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin: 1vh;
  text-align: center;
  font-size: 1.5vh;
}

img {
  margin-inline-start: 10px;
  height: 3vh;
  width: 5vh;
}

.changeCity {
  position: absolute;
  top: 0;
  right: 0
}

.disabled {
  pointer-events: none;
}

.holoflash {
  all: unset;
  color: moccasin;
  position: absolute;
  bottom: 5px;
  cursor: pointer;
}

.holoflash:hover {
  color: orange;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0
}
