:root {
  --active: rgb(255, 255, 255);
  --idle: rgb(127, 127, 127);
  --red: 10;
  --blue: 40;
  --green: 30;
  --color: rgb(108, 140, 174);
}

* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
}

.inputAndSearch {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 2vh;
}

input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ffffff;
  outline: 0;
  font-size: 2vh;
  margin-left: 2vw;
  padding: 7px 0;
  color: white;
  background: transparent;
  transition: border-color 1s;
}

input:hover {
  padding-bottom: 6px;
  border-width: 2px;
  border-color: var(--active);
  color: var(--active);
  border-image-slice: 1;
}

input:focus {
  padding-bottom: 6px;
  border-width: 2px;
  border-color: var(--active);
  color: var(--active);
  border-image-slice: 1;
}

.gradient {
  background-image: linear-gradient(to bottom, #252450, #71608e);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  animation-name: colorScroll;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.gradient::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgb(var(--red), var(--green), var(--blue)), var(--color));
  z-index: -1;
  transition: opacity 2s linear;
  opacity: 0;
}

.gradient.active::before {
  opacity: 1;
}

.hidden {
  display: none;
}

.searchResult {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5vh;
  width: 50%;
  color: var(--active);
  padding: 10px;
  margin: 1vh;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.181);
  transition: border-color 1s;
  cursor: pointer;
}

.searchResult:hover {
  outline: solid var(--active) 2px;
  background: #71608e;
  width: 51%;
}

button {
  border: none;
  outline: solid white 1px;
  width: auto;
  margin: 2vw;
  padding: 1vh;
  border-radius: 2px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

button:hover {
  outline: solid var(--active) 2px;
  background: #71608e43;
}

.temperatureDisplay {
  font-size: 15vh;
  color: white;
  transition: all 1s ease;
  text-shadow: 0vh 2vh 0 rgba(0, 0, 0, 0.037);
  cursor: pointer;
}

.temperatureDisplay:hover {
  transform: rotate3d(2, 1, 0, 10deg);
  text-shadow: -1vh 3vh 5px rgba(0, 0, 0, 0.027);
}

.tempLabel {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
  margin: 1vh;
  text-align: center;
  font-size: 2vh;
}

.timeDisplay {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin: 1vh;
  text-align: center;
  font-size: 1.5vh;
}

img {
  margin-inline-start: 10px;
  height: 48px;
}

.changeCity {
  position: absolute;
  top: 0;
  right: 0;
}

.disabled {
  pointer-events: none;
}

.holoflash {
  all: unset;
  color: moccasin;
  order: 1;
  margin: 1rem;
  bottom: 0;
  cursor: pointer;
}

.holoflash:hover {
  color: orange;
  animation-name: rotate3d;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 8vh;
  width: 5vh;
  padding: 0;
  animation-name: rotate3d;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate3d {
  0% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(90deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}